@using X.PagedList.Mvc.Core.Common;
@using X.PagedList.Mvc.Core;

@model X.PagedList.IPagedList<ProfileViewModel>

<link href="@Url.Content("css/site.css")" rel="stylesheet" type="text/css" />

<form asp-controller="Profile" asp-action="Profiles">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<h2>Profiles</h2>

<table class="table-bordered">
    <tr>
        <th>
            <a asp-action="Profiles" asp-route-sortOrder="@ViewBag.FirstNameSort">
                First Name
            </a>
        </th>
        <th>
            <a asp-action="Profiles" asp-route-sortOrder="@ViewBag.LastNameSort">
                Last Name
            </a>
        </th>
        <th>
            <a asp-action="Profiles" asp-route-sortOrder="@ViewBag.BirthdaySort">
                Birthday
            </a>
        </th>
        <th>
            Id
        </th>
    </tr>

    @foreach (var profileInfo in Model)
    {
        <tr>
            <td>@profileInfo.FirstName</td>
            <td>@profileInfo.LastName</td>
            <td>@profileInfo.Birthday</td>
            <td>@profileInfo.Id</td>
        </tr>
    }
</table>

@Html.PagedListPager(
    Model,
    page => Url.Action("Profiles", new { page }),
    new PagedListRenderOptions
    {
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" }
    })