@using X.PagedList.Mvc.Core;
@using X.PagedList;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<form asp-controller="Profile" asp-action="Profiles">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<h2>Profiles</h2>

<table width="100%" border="1" cellpadding="4" cellspacing="0">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Birthday</th>
        <th>Id</th>
    </tr>
    @foreach (var profileInfo in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>@profileInfo.FirstName</td>
            <td>@profileInfo.LastName</td>
            <td>@profileInfo.Birthday</td>
            <td>@profileInfo.Id</td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Profiles", new { page }))